/* Font */

$base-font-size:15px;
$base-font-family:"Segoe UI","Segoe WP","Segoe Regular", sans-serif;
$base-font-color:#666666;


/* Colors */

$primary-color:#0074D9;
$secondary-color:#2ECC40;
$light-color:#e4eef2;
$dark-color:#001f3f;
