
/* Lists */

.list{
	margin-bottom:30px;
}

.list-feature{
	@extend .list;
	margin:0;
	padding:0;
	width:80%;
	
	li{
		line-height:3.6em;
		@include add-border(1px, #cccccc, bottom);
		overflow:auto;
	}
	
	li:last-child{
		border:0;
	}
	
	span{
		vertical-align:top;
		padding-top:9px;
		font-size:120%;
	}
	
	i{
		margin-top:-9px;
		margin-right:5px;
	}
}


/* Icons */

.fa-2{
	font-size:18px;
}
.fa-3{
	font-size:24px;
}
.fa-4{
	font-size:27px;
}
.fa-5{
	font-size:35px;
}
.fa-6{
	font-size:40px;
}

.fa-primary{
	color:$primary-color;
}

.fa-border{
	@include add-border(1px, $primary-color, all);
	@include border-radius(5px);
	padding:13px 15px;
	width:70px;
	margin-bottom:10px;
}


/* Emphasis Text */

.em-primary{
	color:$primary-color;
}

.em-dark{
	color:$dark-color;
}
